# secrets
.env
*.pem
firmware/classroom_node/secrets.h

# python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# venv
.venv/
venv/
env/

# platformio
.pio/
firmware/.pio/

# editors / os
.DS_Store
.idea/
.vscode/

# arduino-cli build output
build/
firmware/build/
